// Dark Theme
$DarkBG: hsl(230, 17%, 14%);
$DarkTopBG: hsl(232, 19%, 15%);
$DarkCardBG: hsl(228, 28%, 20%);
$BlueText: hsl(228, 34%, 66%);
$WhiteText: hsl(0, 0%, 100%);
$DarkToggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

// Light Theme
$LightBG: hsl(0, 0%, 100%);
$LightTopBG: hsl(225, 100%, 98%);
$LightCardBG: hsl(227, 47%, 96%);
$GrayishBlueText: hsl(228, 12%, 44%);
$DarkBlueText: hsl(230, 17%, 14%);
$LightToggle: hsl(230, 22%, 74%);

// Icon colors

$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);

.upper {
  background-color: $LightTopBG;
  height: 200px;
  position: absolute;
  width: 100%;
}

.lower {
  background-color: $LightBG;
  height: calc(100% - 200px);
  position: absolute;
  top: 200px;
  width: 100%;
}

.main {
  z-index: 1;
  position: relative;
}

.header {
  padding: 2rem;

  .heading {
    h2 {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      color: $GrayishBlueText;
      font-size: 12px;
      font-weight: 600;
    }

    padding-bottom: 1rem;
    border-bottom: 1.3px solid $GrayishBlueText;
  }

  .mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    p {
      color: $GrayishBlueText;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.toggle-container {
  display: inline-block;
  cursor: pointer;
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $LightToggle;
    border-radius: 30px;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }

  input:checked + .slider {
    background: $DarkToggle;
  }

  input:checked + .slider:before {
    transform: translateX(30px);
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    .heading {
      border: none;
    }

    .mode {
      gap: 10px;

      .toggle-slider {
        width: 50px;
        height: 26px;

        .slider {
          border-radius: 25px;
        }

        .slider:before {
          height: 20px;
          width: 20px;
          left: 3px;
          bottom: 3px;
        }

        input:checked + .slider:before {
          transform: translateX(23px);
        }
      }
    }
  }
}
